@media (max-width: 768px) {
  .reactCrop .ReactCrop__crop-selection {
    border: 2px solid #00bfff;
    box-shadow: 0 0 0 10000px rgba(0, 0, 0, 0.5);
  }

  .reactCrop .ReactCrop__drag-handle {
    width: 15px;
    height: 15px;
  }
}



.reactCrop {
  position: relative;
}

.reactCrop .ReactCrop__crop-selection {
  box-shadow: 0 0 0 9999px rgba(0, 0, 0, 0.6); /* Fondo oscuro fuera del área de recorte */
  border: 2px solid #00bfff; /* Borde claro para resaltar */
  transition: box-shadow 0.2s, border 0.2s;
}

.reactCrop .ReactCrop__drag-handle {
  background-color: #fff;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  border: 2px solid #00bfff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  transition: transform 0.2s;
}

.reactCrop .ReactCrop__drag-handle:hover {
  transform: scale(1.2); /* Aumenta el tamaño al pasar el ratón */
}

.App {
  width: 200%;
}